
$main-bg-color: #f2f2f2;
$color-primary: #1c2b35;
$color-brand: #82b440;
$color-orange: #ffaa17;
$color-dark: #343434;
$color-gray: #E1E1E1;
$color-dark-gray: #999999;
$color-light:#ffffff;
$color-light-blue: #00A1E0;
$color-dark-blue: #3434e0;
$color-black: #121212;
$color-gradient-base: linear-gradient(90deg, $color-primary 0%,  $color-primary 33%,  $color-brand 100%);
$border-radius: 3px;
$shadow-light: 0px 15px 25px rgba(0, 0, 0, 0.1);
$shadow-medium:  0px 15px 25px rgba(0, 0, 0, 0.1);
$base-font-family: 'Quicksand', sans-serif;
$heading-font-family: 'Teko', sans-serif;
$base-font-size: 16px;
$base-line-height: 150%;
$cubic-bezier: cubic-bezier(.53,.1,.27,1.38);


