:root {
  --main-bg-color: #f2f2f2;
  --color-primary: #06038D;
  --color-secondary: #C6007E;
  --color-dark: #343434;
  --color-gray: #E1E1E1;
  --color-dark-gray: #999999;
  --color-light:#ffffff; 
  --color-light-blue: #00A1E0;
  --color-dark-blue: #3434e0;
  --border-radius: 3px;
  --shadow-light: 0px 15px 25px rgba(0, 0, 0, 0.1);
  --shadow-medium:  0px 15px 25px rgba(0, 0, 0, 0.1);
  --base-font-family: 'Source Sans Pro', sans-serif;
  --base-font-size: 16px;
  --base-line-height: 150%;
  --cubic-bezier: cubic-bezier(.53,.1,.27,1.38);
}

